.App {
  text-align: center;
  position: relative;
  width: 1200px;
  overflow: hidden;
  background-color: #282c34;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  width: 1200px;
  height: 200px;
  background-color: #282c34;
  float: left;
  display: block;
}

.homeScore {
  float: left;
  background-color: #282c34;
  width: 400px;
  height: 300px;
  display: block;
}

.scoreTitle {
  float: left;
  background-color: #282c34;
  width: 400px;
  height: 300px;
  display: block;
}

.awayScore {
  float: left;
  background-color: #282c34;
  width: 400px;
  height: 300px;
  display: block;
}

.ppGoals {
  height: 600px;
  width: 400px;
  background-color: #282c34;
  float: left;
  display: block;
}

.ppMin {
  height: 600px;
  width: 400px;
  background-color: #282c34;
  float: left;
}

.savePercentage {
  height: 600px;
  width: 400px;
  background-color: #282c34;
  float: left;
}

.lineChart {
  width: 1200px;
  background-color: #282c34;
  float: left;
}

h1 {
  color: white;
  font-size: 240px;
  margin: 0px;
}

h2 {
  color: white;
  margin: 0px;
  font-size: 150px;
}

h3 {
  color: white;
  font-size: 40px;
  margin: 0px;
}