.contentWrapper, .App {
  width: 1200px;
  margin: 0 auto;
  padding-top: 120px;
}
.field {
  width: 872px;
  height: 56px;
  font-size: 30px;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  border-style: solid;
  border-width: 1px;
  background-color: #ffffff;
}
.field:focus {
  width: 872px;
  height: 56px;
  font-size: 30px;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  background-color: #fafafa;
  outline: none;
  box-shadow: 0 0 10px #808080;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  border-style: solid;
  border-width: 1px;
}

.button, .button:focus, .button2, .button2:focus {
  width: 300px;
  height: 70px;
  font-size: 30px;
  cursor: pointer;
  font-family: "museo-sans-fontspring", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  display: inline-block;
  background-color: #00c7e4;
  color: #FFFFFF;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 500;
  transition: background-color 300ms ease-out;
  border: none;
  outline: none !important;
}

.hide-scrollbar {
  overflow: -moz-hidden-unscrollable;
  overflow: hidden;
}

.AppBody {
  text-align: center;
  position: relative;
  width: 1200px;
  overflow: hidden;
  background-image: url('background.png');
}

.topThird {
  width: 1200px;
  height: 500px;
}

.homeWrapper {
  display: inline-block;
  vertical-align: middle;
}

.middleWrapper {
  display: inline-block;
  vertical-align: middle;
 
}

.awayWrapper {
  display: inline-block;
  vertical-align: middle;
}

.homeLogo {
  width: 360px;
  height: 180px;
  padding: 20px 20px 0px 20px;
}

.header {
  width: 400px;
  height: 200px;
  float: left;
  display: block;
  text-align: center
}

.awayLogo {
  width: 360px;
  height: 180px;
  padding: 20px 20px 0px 20px;
}

.homeShootout {
  height: 50px;
  widows: 400px;
}

.homeScore {
  float: left;
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoreTitleWrapper {
  width: 400px;
  height: 300px;
  background-color: none;
}

.scoreTitle {
  float: left;
  width: 400px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoringSummaryTitle{
  width: 400px;
  height: 50px;
  float: left;
  border-radius: 15px 15px 0px 0px;
  padding-top: 10px;
}

.awayScore {
  float: left;
  width: 400px;
  height: 300px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ppGoals {
  height: 310px;
  width: 300px;
  float: left;
  display: block;
}

.ppMin {
  height: 310px;
  width: 300px;
  float: left;
}

.shotsGraph {
  height: 310px;
  width: 300px;
  float: left;
}

.savePercentage {
  height: 310px;
  width: 300px;
  float: left;
}

.border {
  width: 1200px;
  height: 5px;
  background-color: silver;
  float:left;
}

.homePlayerScores {
  width: 200px;
  height: 400px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lineChart {
  width: 800px;
  height: 390px;
  border-bottom: 5px solid silver;
  float: left;
  padding-top: 10px;
}

.awayPlayerScores {
  width: 200px;
  height: 400px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.underPlayerScores {
  width: 200px;
  height: 60px;
  border-bottom: 5px solid silver;
  float: left;
}

img {
  max-width: 100%;
  max-height: 100%;
  /* This could cause problems with the logos */
  min-height: 100%;
}

.homePlayerScores, .awayPlayerScores {
  border-bottom: 5px solid silver;
}

h1 {
  color: white;
  font-size: 250px;
  line-height: 200px;
  height: 200px;
  margin: 0;
  text-shadow: 5px 5px 10px black;
  font-family: 'Aldrich', sans-serif;
  font-weight: 100px;
}

h2 {
  color: white;
  margin: 0px;
  font-family: 'Aldrich', sans-serif;
  text-shadow: 5px 5px 10px black;
  -ms-transform: scaleY(1.3); /* IE 9 */
  -webkit-transform: scaleY(1.3); /* Safari 3-8 */
  transform: scaleY(1.3);
}

h3 {
  color: white;
  margin: 0px;
  line-height: 1;
  font-family: 'Aldrich', sans-serif;
  text-shadow: 5px 5px 10px black;
}

h4 {
  color: white;
  font-size: 30px;
  padding-top: 0px;
  margin: 0px;
  font-family: 'Aldrich', sans-serif;
  text-shadow: 5px 5px 10px black;
}

h5 {
  color: white;
  font-size: 20px;
  padding-top: 5px;
  margin: 0px;
  font-family: 'Aldrich', sans-serif;
  text-shadow: 5px 5px 10px black;
}

h6 {
  color: #00c7e4;
  font-size: 30px;
  padding-top: 0px;
  margin: 0px;
}

/* Shootout Specific CSS */
.homeWrapperSO {
  display: inline-block;
  vertical-align: middle;
}
.homeLogoSO {
  width: 360px;
  height: 180px;
  padding: 20px 20px 0px 20px;
}
.homeSOholder {
  float: left;
  width: 400px;
  height: 300px;
}
.homeScoreSO {
  float: left;
  width: 400px;
  padding-top: 30px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeShootout {
  float: left;
  width: 400px;
  height: 40px;
  margin-top: 0px;
  justify-content: center;
  align-items: center;
}

.awayWrapperSO {
  display: inline-block;
  vertical-align: middle;
}
.awayLogoSO {
  width: 360px;
  height: 180px;
  padding: 20px 20px 0px 20px;
}
.awaySOholder {
  float: left;
  width: 400px;
  height: 300px;
}
.awayScoreSO {
  float: left;
  width: 400px;
  padding-top: 30px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.awayShootout {
  float: left;
  width: 400px;
  height: 40px;
  margin-top: 0px;
  justify-content: center;
  align-items: center;
}

input[type=email], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contact {
  width: 50%;
  background-color:  #00c7e4;;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact:hover {
  background-color:  #00a6c0;;
}

.BoxGraphic {
  width: 1210px;
  height: 500px;
  background-color: #ececec;
}

.bg_Background {
  width: 1210px;
  height: 500px;
  background-color: #ececec;
}
.bg_TopNamesContianer {
padding-top: 10px;
    display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-evenly; 
}
.bg_TopLeftContainer, .bg_TopRightContainer {
	display: flex;   
}
.bg_LeftLogoBox, .bg_RightLogoBox {
	height: 80px;
	width: 100px;
    background-color: red;
}
.bg_LeftLogoNameDividerStripe{
	height:80px;
    width: 80px;
   overflow: hidden;
    background:
    linear-gradient(50deg, red 52px, #ececec 53px, #ececec 62px,#ffffff 63px);
}
.bg_RightLogoNameDividerStripe{
	height:80px;
    width: 80px;
    background:
    linear-gradient(310deg, red 45%, #ececec 46%, #ececec 54%,#ffffff 55%);
}
.bg_LeftNameRect, .bg_RightNameRect {
	height: 80px;
	width: 310px;
    background-color: #ffffff;
}
.bg_LeftScoreBox, .bg_RightScoreBox {
	width: 80px;
    height: 80px;
    background-color: #ffffff;
}
.bg_MiddleDataContianer {
	padding-top: 10px;
    display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-evenly; /* switched from default (flex-start, see below) */
}
.bg_DataBox {
	height: 200px;
    width: 200px;
    background-color: #ffffff;
}
.bg_ScoreBox {
	height: 200px;
    width: 320px;
    background-color: #ffffff;
}
.bg_TitleBar {
position:relative;
  transform:translateY(-50%);
  border: 2px solid #d1d1d1;
  width: 70%;
  margin: auto;
}


