.AppBody {
  text-align: center;
  position: relative;
  width: 1200px;
  overflow: hidden;
  background-color: #282c34;
}

.homeLogo {
  width: 400px;
  height: 200px;
  float: left;
  display: block;
}

.header {
  width: 400px;
  height: 200px;
  background-color: #282c34;
  float: left;
  display: block;
}

.awayLogo {
  width: 400px;
  height: 200px;
  float: left;
  display: block;
}

.homeScore {
  float: left;
  background-color: #282c34;
  width: 400px;
  height: 310px;
  display: block;
  border-bottom: 5px solid silver;
}

.scoreTitleWrapper {
  width: 400px;
  height: 300px;
  display: block;
  float: left;
}

.scoreTitle {
  float: left;
  background-color: #282c34;
  width: 400px;
  height: 250px;
  display: block;
}

.scoringSummaryTitle{
  width: 390px;
  height: 50px;
  float: left;
  border-radius: 15px 15px 0px 0px;
  border: 5px solid silver;
  border-bottom: 0;
  padding-top: 10px;
}

.awayScore {
  float: left;
  background-color: #282c34;
  width: 400px;
  height: 310px;
  display: block;
  border-bottom: 5px solid silver;
}

.ppGoals {
  height: 600px;
  width: 300px;
  background-color: #282c34;
  float: left;
  display: block;
}

.ppMin {
  height: 600px;
  width: 300px;
  background-color: #282c34;
  float: left;
}

.shotsGraph {
  height: 600px;
  width: 300px;
  background-color: #282c34;
  float: left;
}

.savePercentage {
  height: 600px;
  width: 300px;
  background-color: #282c34;
  float: left;
}

.homePlayerScores {
  width: 200px;
  height: 400px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lineChart {
  width: 800px;
  height: 400px;
  background-color: #282c34;
  float: left;
}

.awayPlayerScores {
  width: 200px;
  height: 400px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.underPlayerScores {
  width: 200px;
  height: 60px;
  border-bottom: 5px solid silver;
  background-color: #282c34;
  float: left;
}

.spacer {
  width: 200px;
  height: 60px;
  border-bottom: 5px solid silver;
  background-color: #282c34;
  float: left;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  color: white;
  font-size: 240px;
  margin: 0px;
  text-shadow: 5px 5px 10px black;
}

h2 {
  color: white;
  margin: 0px;
  font-size: 140px;
}

h3 {
  color: white;
  font-size: 40px;
  margin: 0px;
}

h4 {
  color: white;
  font-size: 30px;
  padding-top: 0px;
  margin: 0px;
}

h5 {
  color: white;
  font-size: 20px;
  padding-top: 5px;
  margin: 0px;
}